<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Onyx Playground</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#111111"/>

        <link rel="manifest" href="{% $endpoint %}/manifest.json">

        <link rel="stylesheet" href="{% $endpoint %}/static/css/index.css" />
        <link rel="stylesheet" href="{% $endpoint %}/static/vendor/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="{% $endpoint %}/static/vendor/fontawesome/css/v4-shims.min.css" />
        <link rel="stylesheet" href="{% $endpoint %}/static/vendor/jquery/jquery.modal.min.css" />

        <script> window.ROOT_ENDPOINT = "{% $endpoint %}" </script>
        <script defer src="{% $endpoint %}/static/src/resizer.js"></script>
        <script defer src="{% $endpoint %}/static/src/canvas.js"></script>
        <script defer src="{% $endpoint %}/static/src/folders.js"></script>
        <script defer src="{% $endpoint %}/static/src/editor.js"></script>
        <script defer src="{% $endpoint %}/static/src/js_os.js"></script>
        <script defer src="{% $endpoint %}/static/vendor/ace/ace.js"></script>
        <script defer src="{% $endpoint %}/static/vendor/jquery/jquery.min.js"></script>
        <script defer src="{% $endpoint %}/static/vendor/jquery/jquery.modal.min.js"></script>
        <script src="{% $endpoint %}/static/src/index.js"></script>
    </head>

    <body id="body">
        <div id="simple-menubar" class="menu-bar">
            <div class="floating-container">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <button title="New Project" style="background-color: #3467cd" onclick="folder_open_project_modal()"><i class="fas fa-project-diagram"></i></button>
                    </div>
                    <div>
                        <button title="Run"  style="background-color: #abcd34" class="run-button" onclick="folder_run()"><i class="fas fa-play"></i></button>
                        <button title="Stop" style="background-color: #cd3434" onclick="kill_code()"><i class="fas fa-stop"></i></button>
                    </div>
                    <div>
                        <a title="Settings" href="#settings-modal" rel="modal:open"><i class="fas fa fa-gears"></i></a>
                        <a title="Package Reference" href="https://docs.onyxlang.io/packages/core" target="_blank"><i class="fas fa fa-cube"></i></a>
                        <a title="Book" href="https://docs.onyxlang.io/book" target="_blank"><i class="fas fa fa-book"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="folder-view">
            <div class="floating-container">
                <div class="folder-root" ondragover="handle_dragover(event);" ondrop="folder_handle_drop(event);">
                </div>
            </div>
        </div>

        <div id="main-horizontal-divider" class="divider"></div>

        <div id="code-container">
            <div class="left-half">
                <div class="floating-container">
                    <div class="tab-bar">
                        <div id="tab-container">
                        </div>
                    </div>
                    <pre id="code-editor" ondragover="handle_dragover(event);" ondrop="handle_drop(event);"></pre>
                    <div id="no-editor-open" style="display: none"></div>
                </div>
            </div>

            <div id="code-horizontal-divider" class="divider"></div>

            <div class="right-half">
                <div>
                    <div class="floating-container">
                        <span class="section-label">Canvas</span>
                        <canvas id="render-target"></canvas>
                    </div>
                </div>

                <div id="vertical-divider" class="divider"></div>

                <div>
                    <div class="floating-container">
                        <span class="section-label">Output</span>
                        <pre id="code-result"></pre>
                        <input type="textbox" id="input-bar" class="hide" placeholder="Input" />
                    </div>
                </div>
            </div>
        </div>

        <input id="fileupload" style="display:none" type="file" onchange="file_uploaded(event)"/>
        <input id="projectupload" style="display:none" type="file" accept="application/json" onchange="folder_project_uploaded(event)" />

        <div id="settings-modal" class="modal">
            <h2>Settings</h2>

            <div class="settings-grid">

            <label for="ui-theme">UI theme:</label>
            <select aria-label="Theme" name="ui-theme" id="ui-theme" onchange="change_ui_theme()">
                <option value="dark">Dark</option>
                <option value="blue">Blue</option>
                <option value="light">Light</option>
            </select>

            <label for="editor-theme">Editor theme:</label>
            <select aria-label="Theme" name="editor-theme" id="code-editor-theme" onchange="change_editor_theme()">
                <option value="ambiance">Ambiance</option>
                <option value="chaos">Chaos</option>
                <option value="chrome">Chrome</option>
                <option value="clouds">Clouds</option>
                <option value="eclipse">Eclipse</option>
                <option value="github">Github</option>
                <option value="gruvbox">Gruvbox</option>
                <option selected value="monokai">Monokai</option>
                <option value="nord-dark">Nord Dark</option>
                <option value="one-dark">One Dark</option>
                <option value="terminal">Terminal</option>
                <option value="tomorrow">Tomorrow</option>
                <option value="tomorrow-night-bright">Tomorrow Night Bright</option>
            </select>

            <label for="keybindings">Key bindings:</label>
            <select aria-label="Keybindings" name="keybindings" id="code-editor-keybindings" onchange="change_keybindings()">
                <option value="normal">Normal</option>
                <option value="vim">Vim</option>
                <option value="emacs">Emacs</option>
                <option value="sublime">Sublime Text</option>
                <option value="vscode">VS Code</option>
            </select>
            </div>
        </div>

        <div id="save-modal" class="modal">
            <h2>Save Online</h2>
            <div>
                <span style="margin: 8px 0;" id="permalink">Permalink not created.</span>
                <button style="float: right; padding: 0 8px;" onclick="request_permalink()">Create permalink</button>
            </div>

            <br/>
            <h2>Save Locally</h2>
            <input type="text" id="save-filename" name="save-filename" placeholder="Name" />
            <br/>
            <button onclick="save_to_local_storage()">Save</button>

            <div class="file-list"> </div>
        </div>

        <div id="load-modal" class="modal">
            <h2>Load</h2>
            <input type="text" id="load-filename" name="load-filename" placeholder="Name" />
            <br/>
            <button onclick="load_from_local_storage()">Load</button>

            <div class="file-list"> </div>
        </div>

        <div id="create-file-modal" class="modal">
            <h2>Create File</h2>
            <div>Base: <span class="create-base-path"></span></div>
            <input type="text" name="create-name" placeholder="Name" value="" />
            <br/>
            <button onclick="folder_finalize_create('file')">Create</button>
        </div>

        <div id="create-dir-modal" class="modal">
            <h2>Create Directory</h2>
            <div>Base: <span class="create-base-path"></span></div>
            <input type="text" name="create-name" placeholder="Name" value="" />
            <br/>
            <button onclick="folder_finalize_create('directory')">Create</button>
        </div>

        <div id="rename-modal" class="modal">
            <h2>Rename</h2>
            <input type="text" id="rename-name" name="rename-name" placeholder="Name" value="" />
            <br/>
            <button onclick="folder_finalize_rename()">Rename</button>
        </div>

        <div id="remove-modal" class="modal">
            <h2>Remove</h2>
            <p></p>
            <br/>
            <button onclick="folder_finalize_remove()">Remove</button>
        </div>

        <div id="project-modal" class="modal">
            <h2>Projects</h2>
            <p>Create new project</p>
            <input type="text" id="project-name" name="project-name" placeholder="Name" />
            <br/>
            <button onclick="folder_create_project()">Create</button>

            <p>Load existing project</p>
            <div class="project-list"> </div>

            <p>Upload existing roject</p>
            <button onclick="folder_project_start_upload()">Upload</button>
        </div>

        <div id="context-menu" class="hidden">
        </div>
    </body>
</html>
