package {
    name "onyx-playground" 
    author "Brendan Hansen" 
    url "" 
    description "A live environment to test and play with Onyx" 
    version "0.0.1" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    otmp "0.0.44" git="http://github.com/onyx-lang/pkg-otmp" 
    nimbus "0.0.16" git="http://github.com/brendanfh/nimbus" 
}

build {
    default {
        runtime "onyx" 
        target "out.wasm" 
        source "src/main.onyx" 
        args "--stack-trace" 
    }
}

lsp {
    mode "project" 
    source_files "src/main" 
    include_dirs "" 
    working_dir "." 
}

