package {
    name "onyx-playground" 
    author "Brendan Hansen" 
    url "" 
    description "A live environment to test and play with Onyx" 
    version "0.0.1" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    http-server "0.3.0" git="git://onyxlang.io/repo/http-server" 
    otmp "0.0.34" git="git://onyxlang.io/repo/otmp" 
}

